# Airflow
logs/
airflow.cfg
airflow.db
webserver_config.py

#Redis 
covid-viz-stack/redis-data/

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
.env

# Data
data/raw/*.csv
data/processed/*.parquet
covid-viz-stack/data/raw/*.csv
covid-viz-stack/data/processed/*.parquet
*.log
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
